<div class="main-banner">
  <div class="container">
    <div class="row justify-content-center">
      <h1>Explore your cocktails</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-6">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="search-cocktail" placeholder="">
          </div>
        </form>
      </div>
    </div>
    <i input type="button" class="fas fa-arrow-circle-down arrow"></i>
  </div>
</div>

<div class="container">
    <h2>All Your Cocktail </h2>
    <div class="cards">
      <% if @cocktails != nil %>
        <% @cocktails.each do |cocktail| %>
          <% if cocktail.cocktail_photo.attached? %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), <%= cl_image_path cocktail.cocktail_photo.key %> ">
              <div class="cocktail-title">
                <%= link_to cocktail.name, cocktail_path(cocktail) %>
              </div>
            </div>
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?cocktail&<%= rand(10000) %>)">
              <div class="cocktail-title">
                <%= link_to cocktail.name, cocktail_path(cocktail) %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
