<div class="create-cocktail-banner">
  <div class="container d-flex justify-content-center h-100">
    <div class="row align-self-center justify-content-center d-flex add-cocktail-background col-sm-8 col-lg-6">
      <div class="col-sm-5 col-lg-5 col-xl-5 title-create-cocktail align-self-center">
        <div class="create-cocktail-title"><h3>Create Your</br>Cocktail â¤</h3></div>
      </div>
      <div class="col align-self-center">
        <%= simple_form_for @cocktail do |c|%>
          <%= c.input :name%>
          <%= c.input :cocktail_photo, as: :file %>
          <%= c.submit class: 'cocktail-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
