// Specific CSS for your home-page
h1{
  color: white;
}

.arrow{
  color: white;
  opacity: 0.3;
  font-size: 32px;
  position: absolute;
  top: 90%;
  right: 5%;
  &:hover{
    color: $cocktail-main-pink;
    opacity: 0.8;
  }
}
