<footer class="page-footer font-small cyan darken-3 mt-3">
  <div class="footer-copyright text-center py-3 mb-0 pb-0 text-white">© 2020 Copyright:
    <a href="https://github.com/yuriette16"> yuriette16</a>
  </div>
</footer>
