.main-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), asset-url(banner);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 55px);
  width: 100%;
  object-fit: cover;
  position: relative;
}

.cocktail-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), asset-url(banner);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.create-cocktail-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), asset-url(cocktail);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 55px);
  width: 100%;
  object-fit: cover;
  position: relative;
}

.recipe-title{
  background-color: white;
  width: 30%;
}
