.navbar-cocktail {
  justify-content: space-between;
  background: white;
}

.navbar-cocktail .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-white{
  background: white;
  opacity: 0.9;
}

.navbar-brand{
  object-fit: cover;
  object-position: 50% 45%;
}
