#search-cocktail{
  border-radius: 50px;
  opacity: 0.8;
  background-color: rgba(255,255,255,0.1);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
  color: white;
}

#search-cocktail:hover {
  border-color: $cocktail-main-pink;
}

#search-form{
  text-align: center;
}
